<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Welcome.</h1>
         <form id="form1" onsubmit="validateForm()">
          First name:<br>
          <input type="text" name="f_name" value="first name"><br>
          Last name:<br>
          <input type="text" name="l_name" value="last name"><br>
        </form> 
            
        <button type="submit" form="form1" value="Submit">Submit</button> 
             
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/antixss.js" type="text/javascript"></script>

    <script>
    // Validate Form
    function validateForm() {
    var x2, text2;
    x2 = document.forms["form1"]["l_name"].value;
    if (x2 == "" || x2 == " " || x2 == "last name") {
        alert("Last name must be filled out");
        } else {
        function validateForm1();
        }  
    };
    
    function validateForm1() {
    var x1, text1;
    x1 = document.forms["form1"]["f_name"].value;
    if (x1 == "" || x1 == " " || x1 == "first name") {
        alert("First name must be filled out");
        } else {
        alert(text1);   
        }
    };
    
    //Submit data when enter key is pressed    
    function postdata() {
        	lastname = document.forms["form1"]["l_name"].value;
        	firstname = document.forms["form1"]["f_name"].value;          
            $.ajax({
        		method: "POST",
        		url: "./api/visitors",
        		contentType: "application/json",
        		data: JSON.stringify({first_name: firstname })
        		})
            .done(function(data) {
                $('#response').html(AntiXSS.sanitizeInput(data));
                $('#nameInput').hide();
            });
    }
    
    </script>
</body>

</html>
